@charset "UTF-8";

body{    
    background: url(../imagens/miranha2.jpg);
    background-position: top bottom;
    background-color: #6C61D7;
    
}

main > #burguer{
    display: none;
}


main > menu > ul > li{
    display: block;
    
}

#itens{
    display: block;
    margin-top: 150px;
}

