@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: black;
    color: white;
    min-height: 200px;
    max-height: 500px;
    width: 100%;
}   

header h1{
    font-family:'Passion One', cursive;
    font-variant: small-caps;
    font-size: 10vw;
    text-align: center;
    padding-top: 50px;
}

header p{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 35px;

}

header a{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: bolder;
    font-size: 1.1em;
}

header a:hover{
    text-decoration: underline;
}


main > section > p{
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    padding: 40px;
}

.paragrafo1{
    height: 745px;
    min-width: 403px;
    max-width: 651px;
    background-color: rgba(0, 0, 0, 0.247);
    color: white;
    position: relative;
}

.imagem1{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
}

.paragrafo2{
    height: 745px;
    min-width: 403px;
    max-width: 651px;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    position: relative;
}

.imagem2{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

footer{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
}

footer >a{
    text-decoration: none;
    color: white;
}

footer > a:hover{
    color: rgb(0, 255, 221);
}