@charset "UTF-8;";

@media screen and (min-width:768px) and (max-width:992px){
    .cardapio > ul {
        flex-direction: row;
    }

    .descricao {
        background-position: center left;
        background-attachment: fixed;
    }

    .descricao p {
        padding-right: 200px;
        text-align: justify;
    }

    .propaganda {

    }

    .conteudo-2{
        display: flex;
        justify-content: space-between
    }

    .conteudo-2 > h2, p {
        padding: 0rem;
    }

    #termos{
        display: flex;
        gap: 2rem;
        padding-top: 1rem;
    }
}

@media screen and (min-width:992px){
    .cardapio > ul {
        flex-direction: row;
    }

    .descricao {
        background-position: center left;
        background-attachment: fixed;
        padding: 80px 0px 0px 187px;
    }

    .descricao h1 {
        font-size: 3.1rem;
    }

    .descricao p {
        padding-right: 60rem;
        text-align: justify;
    }


}


