@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    height: 100vh;
    background: url(../imagens/wallpaperflare.com_wallpaper\ \(34\).jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;

    
    background-color: white;
    color: black;

}

a {
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
    color: rgb(202, 12, 12);
}

.container > ul {
    display: flex;
    align-items: center;
}

.conteudo{
    text-align: center;
    margin-top: 15rem;
    color: white;
    
}

.conteudo > h2{
    font-size: 3em;
    padding: 5px;
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
}

.conteudo >p{
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.conteudo > button{
    margin-top: 15px;
    padding: 8px 30px 8px 30px;
    border: 1px solid white;
    border-radius: .3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(202, 12, 12);
    color: white;
}

.conteudo > button:hover{
    background-color: white;
    color: black;
}

main{
    height: 200vh;
    background-color: white;
}

.cardapio{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardapio > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 3.5rem
}


.cardapio  img{
    padding-left: 50px;
}



.cardapio h1{
    font-size: 1.8em;
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
    padding: .5rem;
    padding-left: 55px;
}

#h1{
    padding-left: 37px;
}

.cardapio p{
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
}

.cardapio  button{
    margin-top: 15px;
    padding: 8px 45px 8px 45px;
    border: 2px solid darkred;
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: pointer;
    background-color: #FFF2D9;
    color: darkred;
}

.cardapio  button:hover{
    background-color: #ca0c0c;
    color: white;
}

.descricao{
    margin-top: 3rem;
    background: url(../imagens/wallpaperflare.com_wallpaper\ \(35\).jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
}



.descricao h1{
    font-size: 2.5rem;
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
    color: white;
    padding: 2rem;
}

.descricao p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    color: white;
    padding: 1rem;
    text-shadow: 2px 4px 8px black;
    
}

#moto{
    padding-left: 0px;
    padding-top: 3.5rem;
}

#caminho{
    padding-left: 80px;
}