@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    height: 100vh;
    background: url(../imagens/wallpaperflare.com_wallpaper\ \(34\).jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;

    
    background-color: white;
    color: black;

}

a {
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
    color: rgb(202, 12, 12);
}

.container > a > img{
    width: 5rem;
}

.container > ul {
    display: flex;
    align-items: center;
}

.conteudo{
    text-align: center;
    margin-top: 10rem;
    color: white;
    
}

.conteudo > h2{
    font-size: 3em;
    padding: 5px;
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
}

.conteudo >p{
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.conteudo > button{
    margin-top: 15px;
    padding: 12px 35px 12px 35px;
    border: 1px solid white;
    border-radius: .3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(202, 12, 12);
    color: white;
}

.conteudo > button:hover{
    background-color: white;
    color: black;
}

main{
    background-color: white;
}

.cardapio{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardapio > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 3.5rem
}


.cardapio  img{
    padding-left: 50px;
}

#sopa{
    padding-right: 14px;
}

.cardapio h1{
    font-size: 1.8em;
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
    padding: .5rem;
    padding-left: 55px;
}

#h1{
    padding-left: 37px;
}

.cardapio p{
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
}

.cardapio  button{
    margin-top: 15px;
    padding: 8px 45px 8px 45px;
    border: 2px solid darkred;
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: pointer;
    background-color: #FFF2D9;
    color: darkred;
}

.cardapio  button:hover{
    background-color: #ca0c0c;
    color: white;
}

.descricao{
    margin-top: 3rem;
    background: url(../imagens/wallpaperflare.com_wallpaper\ \(38\).jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
}

.descricao h1{
    font-size: 2.5rem;
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
    color: white;
    padding: 2rem;
}

.descricao p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    color: white;
    padding: 1rem;
    text-shadow: 2px 4px 8px black;
    
}

#moto{
    padding-left: 0px;
    padding-top: 3.5rem;
}

.cardapio > h1{
    padding-right: 50px;
}

aside > div.reservas{
    height: 37rem;
    margin-top: 3rem;
    background-color: #DF080F;
}

.reservas > p{
    text-align: center;
    font-size: 1.8em;
    padding-top: 3rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.reservas > h1{
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
    
}

form{
    text-align: center;
    
}

input{
    height: 40px;
    width: 90%;
    background-color: #DF080F;
    color: white;
    border: 1px solid white;
    font-size: 1.2em;
    cursor: pointer;
}
 
select{
    height: 40px;
    width: 90%;
    font-size: 1.2em;
    border: 1px solid white;
    background-color: #DF080F;
    color: white;
    cursor: pointer;
}

form > p {
    padding-bottom: 20px;
}

#reserve{
    background-color: white;
    color: #ca0c0c;
    width: 80%;
    cursor: pointer;
    font-size: 1.2em;
}

.propaganda{
    background-color: #FFF2D9;
    height: 80rem;
}

.propaganda > p{
    padding-top: 2rem;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.propaganda > h1{
    text-align: center;
    padding: 1.5rem;
    font-size: 1.7em;
    color: #DF080F;
}

.propaganda > div{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.propaganda div > ul > li > img{
    height: 40vh;
    padding: .7rem;
    
}

footer{
    background-color: #DF080F;
    color: white;
    padding: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.conteudo-2 > h2,p{
    padding: 1rem;
}

.conteudo-2 > div > h2{
    font-size: 1.5em;
    font-weight: normal;
}

.conteudo-2 > div > p{

    font-weight: bold;
    color: white;
}

.form{
    text-align: left;
    padding-top: 1rem;
}

form > p{
    font-weight: bold;
    color: white;
    padding: 1rem;
}

.footer-input{
    width: 70%;
    text-align: left;
    border-radius: 10px;
    cursor: auto;
}

.footer-input::placeholder{
    color: white;
    padding: 5px;
    
}

.footer-input:hover{
    background-color: black;
}


form > button{
    margin-top: 15px;
    padding: 8px 30px 8px 30px;
    border: 1px solid white;
    border-radius: .3rem;
    font-size: 1em;
    cursor: pointer;
    background-color: white;
    color: rgb(202, 12, 12);
} 

#redes{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
}

#redes > ul > li > a > img{
    width: 2.5rem;
}

#redes > ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 1rem;
}

#termos{
    cursor: pointer;
    padding-bottom: 1rem;
}

#developed{
    height: 2.5rem;
    background-color: black;
   text-align: center;
   padding: .5rem;
}

#developed h2{
    font-size: 1.2em;
    font-family: 'Roboto';
}