@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    height: 100vh;
    background: url(../imagens/wallpaperflare.com_wallpaper\ \(34\).jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;

    
    background-color: white;
    color: black;

}

a {
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
    color: rgb(202, 12, 12);
}

.container > ul {
    display: flex;
    align-items: center;
}

.conteudo{
    text-align: center;
    margin-top: 15rem;
    color: white;
    
}

.conteudo > h2{
    font-size: 3em;
    padding: 5px;
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
}

.conteudo >p{
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.conteudo > button{
    margin-top: 15px;
    padding: 8px 30px 8px 30px;
    border: 1px solid white;
    border-radius: .3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: pointer;
}