@charset "UTF-8";
@font-face{
    font-family: 'vingadores';
    src: url('fonts/AVENGEANCE HEROIC AVENGER BD.otf')format('opentype');
    font-weight:normal;
    font-size: normal;
}


*{
    font-family: vingadores, Helvetica, sans-serif;
    color: rgb(94, 224, 34);
    font-size: 1.05em;

    
}

body{
    background: url(papelparede.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}