@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118 185 255);
    font-size: 1.05em;

    
}

body{
    background: url(universo.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

form{
    text-align: center;
}