@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}   


div.quadrado{
    display: inline-block;
    height: 100vh;
    width: 527px;
}
div>img{
    padding-top: 70px;
    padding-left: 20px;
}

div >h1{
    color: white;

    padding-top: 25px;
    padding-left: 20px;
}

div >p{
    color: white;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9em;
}

#verde{
    background-color: #00A76B;

}   

#escuro{
    background-color: #035e5c;

}

#azul{
    background-color: #007E7E;
}
