@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #4FFFDC, #488C83, #197568);

}

*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
  color: #9FC131;
  text-align: center;
  text-shadow: 0px 2px 2px black;
}

h2{
 color: #005C53;
}

p{
    text-align: justify;
}