@charset "UTF-8";

@media screen and (min-width:550px) and (max-width:768px){
    header >h2{
        padding-top: 20vh;
    }

    header >.menu2 >nav{
        margin-top: 10px;
    }
    
    menu#redes-sociais{ 
        top: 82%;
        left: 27%;
        transition: 1.5s;
    }
    
    menu#redes-sociais img{
        width: 9vw;
    
    }

    main{
        height: 2450px;
        height: 2740px;
    }

    main > section > ul > li > a > img {
        width: 100%;
    }

    ul > li.projeto1{
        width: 60%;
        transform: translate(35%, 0%);
        transition: 1.3s;
    }

    ul > li.projeto2{

        width: 60%;
        transform: translate(35%, 106%);
        transition: 1.3s;
    }

    ul > li.projeto3{

        width: 60%;
        transform: translate(35%, 212%);
        transition: 1.3s;
    }
    
    
    ul > li.projeto4{
        width: 60%;
        transform: translate(35%, 317%);
        transition: 1.3s;
    }
    ul > li.projeto5{

        width: 60%;
        transform: translate(35%, 424%);
        transition: 1.3s;
    }
    
    ul > li.projeto6{
        width: 60%;
        transform: translate(35%, 531%);
        transition: 1.3s;
    }


}
@media screen and (min-width:768px) and (max-width:1150px){
    header >h2{
        padding-top: 5vh;
    }



    header >h1{
        font-size: 3.2em;
        padding-top: 20px;
    }

    menu#redes-sociais{ 
        top: 82%;
        left: 34%;
        transition: 1.5s;
    }
    
    menu#redes-sociais img{
        width: 5vw;
    }


    main{
        height: 2450px;
    }

    ul > li.projeto1{
        width: 55%;
        transform: translate(-2%, 0%);
        transition: 1.3s;
    }

    ul > li.projeto2{

        width: 55%;
        transform: translate(78%, 0%);
        transition: 1.3s;
    }

    ul > li.projeto3{

        width: 55%;
        transform: translate(-2%, 108%);
        transition: 1.3s;
    }
    
    
    ul > li.projeto4{
        width: 55%;
        transform: translate(78%, 108%);
        transition: 1.3s;
    }
    ul > li.projeto5{

        width: 55%;
        transform: translate(-2%, 213%);
        transition: 1.3s;
    }
    
    ul > li.projeto6{
        width: 55%;
        transform: translate(78%, 213%);
        transition: 1.3s;
    }

    main{
        height: 405vw;
    }
}
@media screen and (min-width:1150px) and (max-width:1500px){
    header >h2{

        padding-top: 5vh;
    }

    header >h1{
        font-size: 5em;
        text-align: center;
    }

    header >p{
        font-size: 1.5em;
        text-align: center;
    }
    
    
    header >.menu2 >nav{    
        padding-top: 70px;
        font-size: 1.5em;
    }

    header >.menu2 >nav >a{ 

        padding: 15px;
    }
    menu#redes-sociais{
        position: absolute;
    
        top: 80%;
        left: 38.5%;
    }

    menu#redes-sociais img{
        width: 50px;
        margin: 10px;
        border-radius: 50%;
    }

    menu#redes-sociais img:hover{
        transform: translate(4px, -4px);
        transition: transform .2s;
    }   

    main{
        background-color: #3b516e;
        height: 1600px;
        position: relative;
    }

    main > section > h1{
        text-align: center;
        color: white;
        font-family: 'Roboto Slab', serif;
        font-size: 2em;
        padding: 50px;
        
    }

    main > section > ul > li > a > img{
        width: 350px;
    }
    
    ul > li.projeto1{
        background-color: white;
        padding: 5px;
        transform: translate(45%, 0%);
        transition: 1.3s;
    }

    ul > li.projeto2{
        background-color: white;
        padding: 5px;
        transform: translate(169%, 0%);
        transition: 1.3s;
    }

    ul > li.projeto3{
        background-color: white;
        padding: 5px;
        transform: translate(45%, 114%);
        transition: 1.3s;
    }

    ul > li.projeto4{
        background-color: white;
        padding: 5px;
        transform: translate(169%, 114.5%);
        transition: 1.3s;
    }

    ul > li.projeto5{
        background-color: white;
        padding: 5px;
        transform: translate(45%, 227%);
        transition: 1.3s;
    }

    ul > li.projeto6{
        background-color: white;
        padding: 5px;
        transform: translate(169%, 228%);
        transition: 1.3s;
    }
}   

@media screen and (min-width:1500px){
    header >h2{
        padding-top: 36vh;
    }

    header >h1{
        font-size: 5em;
    }

    header >p{
        font-size: 1.5em;
        text-align: center;
    }
    
    
    header >.menu2 >nav{    
        padding-top: 70px;
        font-size: 1.5em;
    }

    header >.menu2 >nav >a{ 
        padding: 15px;
    }
    menu#redes-sociais{
        position: absolute;
    
        top: 80%;
        left: 41%;
    }

    menu#redes-sociais img{
        width: 50px;
        margin: 10px;
        border-radius: 50%;
    }

    menu#redes-sociais img:hover{
        transform: translate(4px, -4px);
        transition: transform .2s;
    }   

    main{
        background-color: #3b516e;
        height: 1200px;
        position: relative;
    }

    main > section > h1{
        text-align: center;
        color: white;
        font-family: 'Roboto Slab', serif;
        font-size: 2em;
        padding: 50px;
        
    }

    main > section > ul > li > a > img{
        width: 350px;
    }

    ul > li.projeto1{
        background-color: white;
        padding: 5px;
        transform: translate(45%, 0%);
        transition: 1.5s;
    }

    ul > li.projeto2{
        background-color: white;
        padding: 5px;
        transform: translate(169%, 0%);
        transition: 1.5s;
    }

    ul > li.projeto3{
        background-color: white;
        padding: 5px;
        transform: translate(295%, 0%);
        transition: 1.5s;
    }

    ul > li.projeto4{
        background-color: white;
        padding: 5px;
        transform: translate(169%, 114.5%);
        transition: 1.5s;
    }

    ul > li.projeto5{
        background-color: white;
        padding: 5px;
        transform: translate(45%, 115%);
        transition: 1.5s;
    }

    ul > li.projeto6{
        background-color: white;
        padding: 5px;
        transform: translate(295%, 115%);
        transition: 1.5s;
    }
    
    footer > section.trabalho > h1{
        font-size: 3.5em;
        padding-top: 160px;
    }
    
    footer > section.trabalho > p{
        font-size: 1.5em;
        padding-top: 20px;   
    }
    
    footer > section.rodape>h1{
        padding-top: 200px;
    }
    
}
