@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    height: 100vh;
    background: url(../imagens/wall1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header >h2{
    font-family:'Rubik', sans-serif;
    color: rgb(236, 52, 98);
    text-align: center;
    padding-top: 15vh;
}

header >h1{
    font-family:'Roboto Slab', serif;
    color: white;
    font-size: 3em;
    text-align: center;
    padding-top: 20px;
}

header >p{
    font-size: 1.5em;
    text-align: center;
    color: white;
    padding-top: 15px;
}

header >.menu2 >nav{
    font-family:'Rubik', sans-serif;
    text-align: center;
    padding-top: 70px;
    font-size: 1.5em;
}

header >.menu2 >nav >a{
    border: 1px  solid white;
    color: white;
    text-decoration: none;
    padding: 15px;
}

menu#redes-sociais{
    position: absolute;
    
    top: 84%;
    left: 11.5%;
}

menu#redes-sociais img{
    width: 12vw;
    margin: 10px;
    border-radius: 50%;
}

menu#redes-sociais img:hover{
    transform: translate(4px, -4px);
    transition: transform .2s;
}

main{
    background-color: #3b516e;
    height: 2200px;
    position: relative;
}

main > section > h1{
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    padding: 50px;
}

main > section >ul >li > a >img{
    width: 100%;
}

ul > li.projeto1{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    width: 74%;
    color: black;
    list-style: none;
    text-align: center;


    position: absolute;
    transform: translate(16%, 0%);
}

main >section > ul > li >h1 {
    padding: 1px;
    text-align: center;
    height: 50px;
}


ul > li.projeto2{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    width: 74%;
    color: black;
    list-style: none;
    text-align: center;


    position: absolute;
    transform: translate(16%, 106%);
}

ul > li.projeto3{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    width: 74%;
    color: black;
    list-style: none;
    text-align: center;


    position: absolute;
    transform: translate(16%, 212%);
}

ul > li.projeto4{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    width: 74%;
    color: black;
    list-style: none;
    text-align: center;

    position: absolute;
    transform: translate(16%, 317%);
}

ul > li.projeto5{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    width: 74%;
    color: black;
    list-style: none;
    text-align: center;


    position: absolute;
    transform: translate(16%, 424%);
}


ul > li.projeto6{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    width: 74%;
    color: black;
    list-style: none;
    text-align: center;


    position: absolute;
    transform: translate(16%, 531%);
}

main >section > ul > li >h1{
    padding: 1px;
    text-align: center;
}

ul > li.teste1 >a{
    background-color: white;
}

footer{
    background-color: #303841;
    height: 600px;
}

footer > section.trabalho > h1{
    color: white;
    font-family:'Roboto Slab', serif;
    text-align: center;
    font-size: 3em;
    padding-top: 160px;
}


footer> section.trabalho > p{
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
    
}

footer> section.rodape>h1{
    color: white;
    font-family:'Roboto Slab', serif;
    text-align: center;
    padding-top: 100px;
}

.rodape > h1 >a{
    text-decoration: none;
    color: #2fbdeb;
}
