@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

header{
    color: rgb(255, 255, 255);
    background-color: black;
    height: 450px;
}

header> section > h1{
    text-align: center;
    font-size: 2em;
    padding-top: 7%;
}

header > section > p{
    text-align: center;
    font-size: 1.3em;
    padding-top: 3%;
}

nav{
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
}

nav> a{
    background-color: #2D4569;
    color: white;
    font-size: 1.2em;
    margin: 10px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid  rgb(153, 151, 151);
    text-decoration: none;
}

nav>a:hover{
    background-color: whitesmoke;
    color: black;
}

#img01{
    background-image: url(projeto4.jpg);
    height: 450px;
}

section.normal{
    background-color: #EAEAEA;
    padding-top: 5px;
    height: 200px;
}

section.normal >h1{
    text-align: center;
    padding: 30px;
}

section.normal >p{
    font-size: 1.1em;
    text-align: center;
    columns: 2;
}

section.menu{
    height: 500px;
    background-color: #333333;
    padding-top: 35px;
}

section >ul{
    display: flex;
    justify-content: space-around;
}

section >ul > li{
    height: 460px;
    width: 273px;
    background-color: white;
    list-style: none;


}

section >ul > li >h1{
    text-align: center;
    font-size: 1.3em;
    padding-top: 45px;
}

section >ul > li >p{
    text-align: center;
    font-size: 1.1em;
    padding-top: 30px;
}