@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

     }
     

    html,body{  
        height: 100vh;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;

    }

    header >h1{
        color: black;
    }

    menu{
        background-color: #8b000094;
        cursor: pointer;
        
    }

    menu > ul >li{
        padding: 5px;
        border: 1px solid rgb(131, 124, 124);
    }

    menu > ul >li:hover{
        background-color: rgb(207, 49, 49);
    }

    #burguer{
        background-color: rgb(75, 66, 66);
        margin-top: 150px;
        display: block;
        cursor: pointer;
    }