@charset "UTFT-8";

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        
    }

    
    body{
        height: 100vh;
    }


    .background{
        background: url(../imagens/barbearia1.jpg);
        background-size: cover;
        height: 100vh;

    }

    nav{
        display: flex;
        height: 6rem;
        background-color: rgb(59, 54, 54);
        color: white;
        justify-content: space-around;
        align-items: center;
    }


    ul{
        display: flex;
        gap: 2rem;
        font-size: .9em;
        align-items: center;
    }

    .button{
        border-radius: 3px;
        padding: 1.1rem;
        background-color: #e7b481;
        color: white;
    }

    .container-text{
        padding: 12rem 0 0 13rem;
    }

    .text > h3{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 32px;

    }

    .text > h1{
        color: white;
        margin: 2rem 0 2rem 0;
        font-size: 4rem;
    }

    .button-2{
        border-radius: 3px;
        padding: 1rem;
        font-size: 0.8rem;
        background-color: #e7b481;
        color: white;
        margin: 0 0 0 212px;
    }

    .seta{
        display: flex;
        align-items: end;
    }

    .button-3{
        display: flex;
        align-items: end;

        border-radius: 3px;
        padding: 10px 7px 4px 7px;
        font-size: 0.8rem;
        background-color: #e7b481;
        color: white;
    }

    .button-3 > img{
        width: 1.5rem;
    }

