@charset "UTF-8";

body{
    background-color: #faedcd;
    font-family: Arial, Helvetica, sans-serif;
    

}

h1{
    background-color: #CCD5AE;
}

h2{

}

#principal{
    text-align: center;
    color: white;
    background-color: #D4A373;
}

.basico{
    color: #D4A373;
}

.intermediario{
    color: #b1bd8a;
}

.avancado{
    color: #69753f;
}