@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body,html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d4f70;
}

header{
    background-color: #003554;
    color: white;
    margin-bottom: 10px;
}

header >h1{
    text-align: center;
    padding: 10px;

}


header > menu > ul >li{
    display: block;
    text-decoration: none;
    background-color: #2a8dc7;

}

header> menu > ul > li > a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(66, 62, 62, 0.808);
    padding: 10px;

}

header> menu > ul > li > a:hover{
    background-color: #0e4d6d;
}


#burguer{
    margin-top: 30px;
    background-color: #006494;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

menu{
    display: none;
}

main{
    margin: auto;
    width: 90vw;
    padding: 10px;
    background-color: white;
    border-radius: 10px 10px;
    
}

main >h2{
    text-align: center;
}

main > p{
    text-align: justify;
    margin: 20px;
}

main > img{
    width: 100%;
}

footer{
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    padding: 5px;
}

footer >h2{
    font-size: 1.2em;
    text-align: center;
}

footer> h2 >a{
    text-decoration: none;
    color: white;
    
}

footer> h2 >a:hover{
    color: #2a8dc7;
}