@charset "UFT-8";

@media screen and (min-width:500px) and (max-width:700px){

    main >section.menu {
        background-color: #333333;
        height: 2000px;
        position: relative;
    }

    ul > li.teste1 {
        background-color: white;
        width: 90%;
        height: 600px;
        list-style: none;
        position: absolute;
        transform: translate(5%, 10%);
    }

    ul > li.teste2 {
        background-color: white;
        width: 90%;
        height: 600px;
        list-style: none;
        position: absolute;
        transform: translate(5%, 116%);
    }

    ul > li.teste3 {
        background-color: white;
        width: 90%;
        height: 600px;
        list-style: none;
        position: absolute;
        transform: translate(5%, 224%);
    }
}
