@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    font-family: Arial, Helvetica, sans-serif;
}

body{

}

header{
    height: 400px;
    background: url(../imagens/projeto4.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    
}

header > section >h1{
    color: white;
    padding: 50px;
    font-size: 2em;
    text-align: center;

}

header > section >p{
    color: white;
    padding-top: 30px;
    text-align: center;
    padding: 20px;
}

header >section >nav{
    text-align: center;
    padding-top: 30px;
}

header >section >nav >a{
    color: white;
    background-color: rgb(77, 70, 70);
    text-decoration: none;
    padding: 20px;
    border: 1px solid darkgrey;


}