@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

}

header{
    height: 100vh;
    background-color: rgb(36, 31, 31);
    color: white;
    background: url(../imagens/wall1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

header >h2{
    font-family:'Rubik', sans-serif;
    color: rgb(236, 52, 98);
    text-align: center;
    padding-top: 30vh;

}

header >h1{
    font-family:'Roboto Slab', serif;
    color: white;
    font-size: 5em;
    text-align: center;
}

header >p{
    font-size: 1.5em;
    text-align: center;
}


header >.menu2 >nav{
    font-family:'Rubik', sans-serif;
    text-align: center;
    padding-top: 70px;
    font-size: 1.5em;
}

header >.menu2 >nav >a{
    border: 1px  solid white;
    color: white;
    text-decoration: none;
    padding: 15px;
}

menu#redes-sociais{
    position: absolute;
    
    top: 74%;
    left: 38.5%;
}

menu#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}

main{
    background-color: #45567D;
    height: 100vh;
}

main > section > h1{
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    padding: 50px;
}