@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{

}

header{
    height: 100vh;
    background-color: rgb(36, 31, 31);
    color: white;
    background: url(../imagens/wall1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

header>.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
    padding-top: 20px;
    margin-left: 1000px;
    list-style: none;
}

header>.cabeçalho-link a{
    font-family: 'Poppins', sans-serif;
    color: rgb(236, 52, 98);
    font-size: 1.3em;
}

header>.cabeçalho-link a:hover{
    color: white
}

header >h2{
    font-family:'Rubik', sans-serif;
    color: rgb(236, 52, 98);
    text-align: center;
    padding-top: 30vh;
}

header >h1{
    font-family:'Roboto Slab', serif;
    color: white;
    font-size: 5em;
    text-align: center;
}

header >p{
    font-size: 1.5em;
    text-align: center;
}


header >.menu2 >nav{
    font-family:'Rubik', sans-serif;
    text-align: center;
    padding-top: 70px;
    font-size: 1.5em;
}

header >.menu2 >nav >a{
    border: 1px  solid white;
    color: white;
    text-decoration: none;
    padding: 15px;
}

menu#redes-sociais{
    position: absolute;
    
    top: 80%;
    left: 38.5%;
}

menu#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}

menu#redes-sociais img:hover{
    transform: translate(4px, -4px);
    transition: transform .2s;
}

main{
    background-color: #3b516e;
    height: 1150px;
    position: relative;
}

main > section > h1{
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    padding: 50px;
}

main > section >ul >li > a >img{
    width: 350px;
}


ul > li.projeto1{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    list-style: none;
    text-align: center;
    padding: 10px;

    position: absolute;
    transform: translate(45%, 0%);
}


ul > li.projeto2{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    list-style: none;
    text-align: center;
    padding: 10px;

    position: absolute;
    transform: translate(167%, 0%);
}

ul > li.projeto3{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    list-style: none;
    text-align: center;
    padding: 10px;

    position: absolute;
    transform: translate(292%, 0%);
}

ul > li.projeto4{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    list-style: none;
    text-align: center;
    padding: 10px;

    position: absolute;
    transform: translate(45%, 120%);
}

ul > li.projeto5{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    list-style: none;
    text-align: center;
    padding: 10px;

    position: absolute;
    transform: translate(167%, 120%);
}

ul > li.projeto6{
    font-family: 'Roboto Slab', serif;
    background-color: white;
    list-style: none;
    text-align: center;
    padding: 10px;

    position: absolute;
    transform: translate(292%, 120%);
}


footer{
    background-color: #303841;
    height: 600px;
}

footer > section.trabalho > h1{
    color: white;
    font-family:'Roboto Slab', serif;
    text-align: center;
    font-size: 3.5em;
    padding-top: 160px;
    
}

footer> section.trabalho > p{
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
    
}

footer> section.rodape>h1{
    color: white;
    font-family:'Roboto Slab', serif;
    text-align: center;
    padding-top: 200px;
}

.rodape > h1 >a{
    text-decoration: none;
    color: #2fbdeb;
}