@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(imagens/BR-pt-20221206-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: cover;
    width: 97vw;
    height: 94vh;
}

main >img{
    width: 10%;
    margin: 30px;
    padding-left: 10px;
}


main >div{
    width: 500px;
    height: 500px;
    background-color: black;

}

main >form{
    color: white;

}

form input, form textarea{
    outline: unset;
    padding: 20px;
    width: 280px;
    border: 1px solid black;
    border-radius: 7px 7px;
    max-width: 100%;
    background-color: #333333;

    font-size: medium;
    font-weight: bold;
}


#conteudo{

    position: absolute;

    left: 52%;
    top: 63%;
    transform: translate(-60%,-80%);
}

#vermelho{
    background-color: red;
    color: white;
    text-align: center;


}


main >form >p{
    color: #afafaf;
    font-size: 1.1em;
    font-weight: bolder;
}

#criar{
    background-color: red;
    color: white;
    width: 109px;
    padding: 10px;
    font-size: medium;
    font-size: 1em;

    position: absolute;

    top: -90px;
    left: 800px;
}