@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:926px){

    body{
        background: url(../imagens/img4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        
    }   

    
}