@charset "UTFT-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    font-family: 'Mulish', sans-serif;
}

body{
    background: url(../imagens/developed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

header{
    background-color: rgba(74, 147, 211, 0.637);
}

header> div > h1{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
    font-size: 2em;
    color: rgb(255, 255, 255);

}

header> div > p{
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    padding-top: 5px;
    margin-bottom: 20px;

}

main{
    position: relative;
    width: 96vw;
    height: 146vh;
}

section >div#login{
    height: 100%;
    width: 100%;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.campo{
    color: white;
    font-size: 1.2em;
   padding: 10px;
   margin-left: 10px;
}

div.campo >input{
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

div >.funcao{
    height: 40px;
    width: 91%;
    border-radius: 10px;
}

div.check{
    color: white;
    font-size: 1.2em;
    padding: 10px;
    margin-left: 10px;
}

div.indicacao{
    color: white;
    font-size: 1.2em;
    padding: 10px;
    margin-left: 10px;
}

div.comentario{
    color: white;
    font-size: 1.2em;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;

}

textarea{
    width: 430px;
    margin-top: 5px;
}

div.submit{
    margin-left: 20px;
}

div>.enviar{
    width: 431px;
    height: 50px;
    font-family:'Mulish', sans-serif;
    font-size: 1.1em;
    background-color: #37AF65;
    color: white;
    cursor: pointer;
}