@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F9DCC4;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    height: 6rem;

    padding: 0 2.4rem;
}

ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}


.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 1.6rem;

    background-color: lightblue;
    border-radius: .8rem;
}

main > h1{
    padding: 2rem;
    text-align: center;
    background-color: #FEC89A;
}

 section{
    display: flex;
    flex-direction: row; /* EIXO PRINCIPAL */
    flex-wrap: wrap;
    justify-content: space-evenly; /*ESSA JÁ É A FORMA AUTOMÁTICA (PADRAO) */
    padding-top: 2rem;
    padding-bottom: 2rem;
}


 section > ul{
    gap:1.5rem;
}

ul.imagens > li > img{
    width: 30vw;
    height: 34vh;
    padding-top: 1rem;
}

section > ul > li > h3{
    text-align: center;
    height: 2rem;
    background-color: yellow;
}

aside{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

aside >div{
    display: flex;
    justify-content: center;
    
}

aside > div > img {
    width: 90vw;
    padding-top: 1rem;
    transition: 1.2s;
}